.header{
    height: 300px;
    /* background-color: bisque; */
    /* background-image: url(animal.png); */
    /* background-repeat: none; */
    /* background-repeat: repeat-x; */
    /* background-repeat: repeat-y; */
    /* background-size: cover; */
    /* background-size: contain; */
    /* background-size: 500px; */
    /* background-image: url(../Picture/pic-3.avif); */
    background-image: url(../Picture/image-2/image-3/pic-4.avif);

}

h3{
    font-size: 30px;
    text-decoration: overline;
    font-family: 'Courier New', Courier, monospace;
}


.blog{
    margin: 40px;
    border: 10px solid purple;
    box-shadow: 10px 10px 10px red;
}

.second{
    /* display: none; */
    /* visibility: hidden; */
}

.incedent{
    border: 4px solid hwb(189 0% 50%);
    margin: 20px;
    display: inline;
    /* display: block;   */
    /* height: 200px; */
    /* // height can only work when i use     display    */
} 

li{
    display: inline;
}
.akram{
    border: 3px solid peru;
    display: inline-block;
    height: 50px;
}